extends ../layout

block content
  .container
    .row
      .col-md-8
        h2 Registration
        br
        form(action="/register" method="POST")
          .form-group
            label Username
            input.form-control(type="text" name="email")
            br
          .form-group
            label Password
            input.form-control(type="password" name="password")
            .submit
          button(type="submit" value="Submit").btn.btn-default Submit
